FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=change-this-secret-key
WTF_CSRF_SECRET_KEY=change-this-csrf-secret
DATABASE_URL=postgresql+psycopg://pizza:pizza@db:5432/pizza_db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
ADMIN_FULL_NAME=Administrador General
SESSION_COOKIE_SECURE=false
