FLASK_APP=run.py
FLASK_ENV=production
SECRET_KEY=cambiar-esto-en-produccion-por-un-hash-seguro
WTF_CSRF_SECRET_KEY=cambiar-esto-en-produccion-por-otro-hash-seguro

# Base de Datos
POSTGRES_USER=pizza_admin
POSTGRES_PASSWORD=pizza_secure_pass
POSTGRES_DB=pizza_prod_db
DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Configuraciones de Sesion y Cookies Seguras (Recomendado True en prod)
SESSION_COOKIE_SECURE=True
BCRYPT_LOG_ROUNDS=12

# Credenciales del Administrador por Defecto
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Demo123!
ADMIN_FULL_NAME=Administrador General
